default:
  image: node:22
  cache: &global_cache
    key:
      files:
        - package.json
        - pnpm-lock.yaml
    paths:
      - node_modules/
    policy: pull

stages:
  - cache_dependencies
  - analyze
  - build
  - release
  - deploy

install:
  stage: cache_dependencies
  script:
    - npm install -g pnpm
    - pnpm install --frozen-lockfile
  cache:
    <<: *global_cache
    policy: pull-push
  needs: []

lint:
  stage: analyze
  script:
    - npm install -g pnpm
    - pnpm lint
  needs:
    - install

test:
  stage: analyze
  script:
    - npm install -g pnpm
    - pnpm test
  needs:
    - install

build:
  image: docker:latest
  services:
    - docker:dind
  stage: build
  variables:
    DOCKER_TLS_CERTDIR: '/certs'
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - export SANITIZED_REF_NAME="${CI_COMMIT_REF_NAME//\//-}"
    - export IMAGE_TAG="$CI_REGISTRY_IMAGE:$SANITIZED_REF_NAME"
    - docker build --platform linux/arm64 -t $IMAGE_TAG .
    - docker push $IMAGE_TAG
  needs:
    - install
    - lint
    - test

release:
  stage: release
  script:
    - npm install -g pnpm
    - pnpm release
  variables:
    GITLAB_TOKEN: $GITLAB_TOKEN
  only:
    - main
  except:
    - tags
  needs:
    - install
    - lint
    - test
    - build

deploy:
  stage: deploy
  script:
    - echo "Deploying the application..."
  only:
    - tags
    - main
  needs:
    - install
    - lint
    - test
    - build
    - release
