default:
  image: node:22
  cache: &global_cache
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - .pnpm-store
    policy: pull

.pnpm_before_script: &pnpm_before_script
  - npm i -g pnpm
  - pnpm config set store-dir .pnpm-store

stages:
  - cache_dependencies
  - audit
  - build
  - release
  - deploy

install:
  stage: cache_dependencies
  interruptible: true
  before_script: *pnpm_before_script
  script:
    - pnpm install --frozen-lockfile
  cache:
    <<: *global_cache
    policy: pull-push
  needs: []

audit:
  stage: audit
  interruptible: true
  before_script: *pnpm_before_script
  script:
    - pnpm lint
    - pnpm test
  needs:
    - install

build:
  image: docker:latest
  stage: build
  interruptible: true
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - export SANITIZED_REF_NAME="${CI_COMMIT_REF_NAME//\//-}"
    - export IMAGE_TAG="$CI_REGISTRY_IMAGE:$SANITIZED_REF_NAME"
    - docker build --platform linux/arm64 -t $IMAGE_TAG .
    - docker push $IMAGE_TAG
  needs:
    - install
    - audit

release:
  stage: release
  before_script: *pnpm_before_script
  script:
    - pnpm release
  variables:
    GITLAB_TOKEN: $GITLAB_TOKEN
  only:
    - main
  except:
    - tags
  needs:
    - install
    - audit
    - build

deploy:
  stage: deploy
  image: bitnami/kubectl-helm:latest
  script:
    - echo "$KUBECONFIG_B64" | base64 -d > kubeconfig.yaml
    - export KUBECONFIG=$PWD/kubeconfig.yaml
    - helm upgrade --install "$RELEASE_NAME" ./chart \
        --namespace "$KUBE_NAMESPACE" \
        --create-namespace
  only:
    - tags
    - main
  needs:
    - install
    - audit
    - build
    - release
