default:
  image: node:20
  cache: &global_cache
    key:
      files:
        - package.json
        - yarn.lock
    paths:
      - node_modules/
    policy: pull

stages:
  - cache_dependencies
  - analyze
  - build

install:
  stage: cache_dependencies
  script:
    - yarn install --frozen-lockfile
  cache:
    <<: *global_cache
    policy: pull-push

lint:
  stage: analyze
  script:
    - yarn install --frozen-lockfile
    - yarn lint

test:
  stage: analyze
  script:
    - yarn install --frozen-lockfile
    - yarn test

build:
  stage: build
  script:
    - yarn install --frozen-lockfile
    - yarn build

storybook:
  stage: build
  script:
    - yarn install --frozen-lockfile
    - yarn build:storybook
