default:
  image: node:22-alpine
  cache: &global_cache
    key:
      files:
        - pnpm-lock.yaml
        - package.json
    paths:
      - .pnpm-store
      - node_modules
      - .next/cache
    policy: pull

.pnpm_before_script: &pnpm_before_script
  - npm i -g pnpm
  - pnpm config set store-dir .pnpm-store

stages:
  - cache_dependencies
  - audit
  - build
  - release
  - deploy

install:
  stage: cache_dependencies
  interruptible: true
  retry: 2
  before_script: *pnpm_before_script
  script:
    - pnpm install --no-frozen-lockfile
  cache:
    <<: *global_cache
    policy: pull-push
  rules:
    - if: '$CI_COMMIT_TAG'
      when: never
    - when: always
  needs: []

audit:
  stage: audit
  interruptible: true
  retry: 2
  before_script: *pnpm_before_script
  script:
    - pnpm lint
    - pnpm test
  artifacts:
    reports:
      junit: test-results.xml
    when: always
  rules:
    - if: '$CI_COMMIT_TAG'
      when: never
    - when: always
  needs:
    - install

build:
  image: node:22-alpine
  stage: build
  interruptible: true
  retry: 2
  before_script: *pnpm_before_script
  script:
    - pnpm build
  artifacts:
    paths:
      - .next/
      - out/
    expire_in: 1 hour
  rules:
    - if: '$CI_COMMIT_TAG'
      when: never
    - when: always
  needs:
    - install

release:
  stage: release
  retry: 2
  before_script: *pnpm_before_script
  script:
    - pnpm release
  variables:
    GITLAB_TOKEN: $GITLAB_TOKEN
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always
    - if: '$CI_COMMIT_TAG'
      when: never
  needs:
    - install
    - audit

build_image:
  image: docker:24-dind
  stage: build
  interruptible: true
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_BUILDKIT: 1
  services:
    - docker:24-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - export IMAGE_TAG="yongchenglow-$CI_COMMIT_TAG"
    - |
      docker build --platform linux/arm64 \
        --cache-from "$CI_REGISTRY_IMAGE:cache" \
        --cache-to "$CI_REGISTRY_IMAGE:cache" \
        -t "$CI_REGISTRY_IMAGE:$IMAGE_TAG" .
    - docker push "$CI_REGISTRY_IMAGE:$IMAGE_TAG"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always
    - if: '$CI_COMMIT_TAG'
      when: never

deploy:
  stage: deploy
  image: bitnami/kubectl-helm:latest
  script:
    - echo "$KUBECONFIG_B64" | base64 -d > kubeconfig.yaml
    - export KUBECONFIG=$PWD/kubeconfig.yaml
    - export IMAGE_TAG="yongchenglow-$CI_COMMIT_TAG"
    - helm upgrade --install "$RELEASE_NAME" ./chart \
      --namespace "$KUBE_NAMESPACE" \
      --create-namespace \
      --set image.tag="$IMAGE_TAG"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always
    - if: '$CI_COMMIT_TAG'
      when: never
  needs:
    - build_image
