default:
  image: node:22
  cache: &global_cache
    key:
      files:
        - package.json
        - yarn.lock
    paths:
      - node_modules/
    policy: pull

stages:
  - cache_dependencies
  - analyze
  - build
  - release

install:
  stage: cache_dependencies
  script:
    - yarn install --frozen-lockfile
  cache:
    <<: *global_cache
    policy: pull-push
  needs: []

lint:
  stage: analyze
  script:
    - yarn lint
  needs:
    - install

test:
  stage: analyze
  script:
    - yarn test
  needs:
    - install

build:
  stage: build
  script:
    - yarn build
  needs:
    - install
    - lint
    - test

storybook:
  stage: build
  script:
    - yarn build:storybook
  needs:
    - install
    - lint
    - test

release:
  stage: release
  script:
    - yarn release
  variables:
    GITLAB_TOKEN: $CI_JOB_TOKEN
  only:
    - main
  needs:
    - install
    - lint
    - test
    - build
